* {
    font-family: "Microsoft JhengHei",Arial,sans-serif;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: #eff5fd;
    margin: 0;
}

.header {
    padding: 10px;
    background: #223344;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom:80px;
}

.login form{
  	justify-content: center;
    float:center;
}
  
.login form label { 
    height: 45px;
    width: 60px;
    color: black;
}
  
.login form input {
    height: 45px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #dee0e4;
    text-align: left;
}


#login{
    width: 80px;
    height: 40px;
    cursor: pointer;
    border: 2px solid rgb(51, 50, 50);
}

#login:hover {
    opacity: 0.7;
}

@media only screen and (min-width: 1350px) {
    .login form input {
      margin: 10px 0;
    } 
}
