<html>
  <head>
    <title>Flask Practice - Login System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="header">
      <h1>歡迎光臨，請輸入帳號密碼</h1>
    </div>
    <div class="login">
        <h3>登入系統</h3>
        <form action="{{ url_for('login') }}" method="post">
            <p><label for="username">帳號</label>
            <input type="text" placeholder="請輸入帳號" name="username" value="" required></p>
            <p><label for="username">密碼</label>
            <input type="password" placeholder="請輸入密碼" name="password" value="" required></p>
            <input id="login" type="submit" value="登入"></input>       
        </form>
    </div>
  </body>
</html>