<html>
  <head>
    <title>error page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  
    <div class="header">
      <h1>失敗頁面</h1>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
    <div class="login">
      {% for message in messages %}
        <h3>{{message}}</h3>
        <a href="{{ url_for('login') }}">返回首頁</a>
        {% endfor %}
    </div>
     {% endif %}
{% endwith %}
{% block body %}{% endblock %}
  </body>
</html>